<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login Example</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <section>
        <div class="login">
            <h3>register</h3>

            <label for="username">username:</label>
            <input type="text" name="username" id="username">

            <label for="password">password:</label>
            <input type="password" name="password" id="password">

            <label for="password">confirm password:</label>
            <input type="password" name="password" id="passwordConfirm">

            <button id="btnRegister">submit</button>

            <div class="info" id="info">
                
            </div>

            <a href="/">back to login</a>
        </div>
    </section>

    <script src="/static/js/client.js"></script>
</body>
</html>
