* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html, body {
    height: 100%;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.login {
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 25px;
}

label {
    padding: 10px 0px 1px 0px;
}

input {
    margin: 5px 0px;
    font-size: 1.25em;
    padding: 2px;
}

button {
    font-size: 1.25em;
    margin: 10px 0;
}

a {
    padding-top: 50px;
}

.info {
    color: red;
}